*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* navbar */

.navbar{
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    background-color:antiquewhite;
}
.logo{
    
    width: 15%;
    /* border: 2px solid black; */
   
}

.logo h1{
    margin-left: 20px;
    font-size: 55px;
    font-family: 'Ms Madi', cursive;
}
.navmenu{
    /* border: 2px solid black; */
    width: 63%;
}

.navmenu ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    
}

.navbar ul li{
    margin: 5px 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
}
.navbar ul li a:hover{
    background-color: blueviolet;
}

.profile{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    width: 20%;
}
.profile h1{
    font-size: 18px;
    font-weight: bold;

}

.profile h1 a{
    text-decoration: none;
    color: grey;
    cursor: pointer;
    
}

.profile img{
    width: 45px;
    background-color:tomato;
    padding: 1px;
}




/* section1 */




.section1{
    display: flex;
    width: 100vw;
    height: 80vh;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-evenly;
}

.section1 .items{
    width: 22%;
    height: 90%;
    background-color: antiquewhite;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section1 .items .specs{
    display:flex;
    /* border: 2px solid red; */
    height: 20%;
    flex-direction: column;
   justify-content: flex-end;
    text-align: center;
}

.section1 .items img{
    width: 300px;
    /* border: 2px solid red; */
}

.section1 .items h1{
    font-size: 18px;
}
.section1 .items .discount{
    color: tomato;
    text-decoration:line-through;
}




/* section2*/




.section2{
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.section2 .item{
    display: flex;
    width: 45%;
    height: 95%;
   /* border: 2px solid red; */
} 
.section2 .item .specs2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.section2 .item .specs2 .price{
    font-size: 30px;
    font-weight: bold;
}


.section2 img{
    width: 50px;
}

.btn{
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    padding: 2px 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color: tomato;
    cursor: pointer;
    border: none;
}

.section2 .item .btn img{
    width: 40px;
}
.btn h1{
    font-size: 18px;
}




